* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-repeat:no-repeat;
    background-attachment: fixed;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
}

header h1 {
    background: #8A2387;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #F27121, #E94057, #8A2387);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #F27121, #E94057, #8A2387); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */     
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    font-size: 3rem;
}

header i {
    font-size: .8rem;
    text-align: center;
}

.poem {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
}

.parameters {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.parameters label {
    padding: .4rem;
}

.parameters-btn {
    background: #8A2387;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #F27121, #E94057, #8A2387);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #F27121, #E94057, #8A2387); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */     
    padding: .4rem;
    margin: 1rem;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    font-size: 1.5rem;
}

form input {
    padding: 0.5rem;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    border: none;
    background: white;
    margin: .2rem;
    width: 4rem;
    text-align: center;
}

@media screen and (max-width: 960px){
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    html {
        padding: 1rem;
    }
    header h1 {
        font-size: 1.8rem;
        text-align: center;
        line-height: 1.5rem;
        margin-bottom: 1rem;
    }
    .poem {
        font-size: .8rem;
    }
    .parameters-btn{
        font-size: 1rem;
    }
}